.AdvanceSearch {
    width: 1400px;
    height: 690px;
    display: flex;
}

.bar {
    height: 50px;
}
.half{
    width: 700px; 
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.Product{
    margin-top: 3rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}


.AdvanceSearch label {
    padding: 2%;
    padding-left: 0%;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
}

.AdvanceSearch input[type = "text"],
.AdvanceSearch select {
    width: calc(700px - 120px); 
    height: 40px;
    font-size: 16px;
    padding: 7px;
    border: 1px solid grey;
    border-radius: 5px;
}

.AdvanceSearch button {
    padding: 13px;
    background-color: #454444;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
}
.info{
    height: 156px;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.info div{
    width: 100%;
    display: flex;
    justify-content: center;
    
}   
.info button{
    margin: 0;
    padding: 10px 20px;
}
.imgproducts{
    width: 100%;
    height: 70%;
    border-radius: 10px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
}