.AdvanceSearch {
    /* margin-top: 20px;
    margin-left: 60px; */
    width: 1400px;
    height: 650px;
    display: flex;
    background-color: #454444;
}

.bar {
    height: 50px;
}
.AdvanceSearch div{
    background-color: #ca2b2b;
    width: 200px; 
    height: 100%;
}

.AdvanceSearch  div form {
    
}
.AdvanceSearch section{
    max-width: 50%;
}

.AdvanceSearch label {
    margin-bottom: 10px;
    font-size: 18px;
    width: 249px; 
    display: block; 
}

.AdvanceSearch input[type = "text"],
.AdvanceSearch select {
    width: calc(700px - 120px); 
    height: 40px;
    font-size: 16px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.AdvanceSearch button {
    padding: 14px;
    background-color: #454444;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 470px; 
    display: block; 
    margin-bottom: 10px;
}
