
body {
    background-color: white;
}

.choose-bar {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.text {  
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    width: 1400px;
    background-color: aqua;
}
.textbox{
    width: 350px;
    background-color: gray;
    height: 500px;
}

.detail {
    text-align: center;
    background-color: antiquewhite;
}


.imgproducts {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.buy {
    padding: 12px 30px;
    color: white;
    background-color: black;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

.buy:hover {
    background-color: grey;
}
