body {
    background-color: white;
    display: flex;
}

.choose-bar {
    display: flex;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.newtext {  
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    text-align: left;
}

.detail {
    text-align: center;
}

.imgproducts {
    width: 350px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-right: 950px; 
}

.buy {
    padding: 12px 30px;
    color: white;
    background-color: black;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

.buy:hover {
    background-color: grey;
}
