.AdvanceSearch {
    /* margin-top: 20px;
    margin-left: 60px; */
    width: 1400px;
    height: 690px;
    display: flex;
}

.bar {
    height: 50px;
}
.AdvanceSearch div{
    width: 700px; 
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.AdvanceSearch div section{
    background-color: yellowgreen;
    padding-top: 3rem;
    padding-bottom: 0%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}


.AdvanceSearch label {
    padding: 2%;
    padding-left: 0%;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
}

.AdvanceSearch input[type = "text"],
.AdvanceSearch select {
    width: calc(700px - 120px); 
    height: 40px;
    font-size: 16px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.AdvanceSearch button {
    padding: 14px;
    background-color: #454444;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    float: right;
    margin-top: 3rem;
}

.imgproducts{
    width: 70%;
    height: 70%;
}