body{
    background-color: aqua;
}
.box{
    width: 800px;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    background-color: antiquewhite;
    border-radius: 15px;
}
.Head{
    font-size: 24px;
}
.center{
    margin: auto;
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.center label{
    width: 100%;
}