body {
    margin: 0;
    padding: 0;
    background-color: #e6ddddf6;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.bar {
    background-color: #e6ddddf6;
    height: 50px;
}

.box_login {
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
}

.head_login {
    text-align: center;
    margin-bottom: 20px;
    color: #363636ec;
    font-size: 24px;
}

.admin-detail {
    margin-bottom: 30px; 
    padding: 20px;
    border-radius: 10px;
}

.detail-line {
    display: flex;
    align-items: center;
    margin-bottom: 15px; 
}

.detail-label {
    width: 120px;
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.detail-value {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    background-color: lightgrey;
    font-size: 16px;
    color: black;
    margin-left: 10px;
}

button {
        background-color: #c8aa89;
        border: 2px solid #14120e;
        border-radius: 20px; 
        box-shadow: #422800 2px 2px 0 0; 
        color: #422800;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        font-size: 14px; 
        padding: 10px 16px;
        line-height: 1; 
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-left: 10px;
        margin-top: 10px; 
        margin-bottom: 20px;
    }
    
.button {
  background-color: #fff;
}

.button{
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}


button:hover {
    background-color: white;
}


