/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.bar {
    background-color: #333;
    height: 50px;
}

.box_login {
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.head_login {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
}

.admin-detail {
    margin-bottom: 30px; /* Add some space between admin details */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.detail-line {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Add some space between detail lines */
}

.detail-label {
    width: 120px;
    font-weight: bold;
    color: #666;
}

.detail-value {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    margin-left: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

button:hover {
    background-color: grey;
}

footer-component {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #666;
    font-size: 14px;
}
