.search-container{
background-image: url('/css/searchicon.png');
}

body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.choose-bar {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
