.container {
    text-align: center;
    margin-top: 3rem;
    width: 1400px;
}

body{
    margin: 0%;
}
.information {
    top: 20rem;
    width: 1400px;
    height: 650px;
    text-align: left;
    display: flex; 
    align-items: flex-start;
    justify-content: center; 
    padding-left: 0px 50px;
}


div {
    align-items: center;
}
.back_g{
    width: 1400px;
    height: 790px;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.back_g img{
    width: 1400px;
    height: 790px;
    filter: brightness(1500%);
    filter: contrast(45%);
}

.information .bolder {
    font-weight: bold;
}

.information ol ul {
    width: 1100px;
    overflow-wrap: break-word;  
}

