.box{
    display: flex;
    justify-content: center;
    align-items: center;
} 

.success {
    width: 380px;
    margin-top: 15%;
    height: 250px;
    background-color: black; 
    color: aliceblue;
    padding: 20px;
    text-align: center;
    line-height: 100px;
    position: relative;
}

.picture {
    margin-top: 30px;
    width: 80px;
    height: 80px;
}

.bottom_footer{
    margin-top: 17%;
}

footer {
    position: relative;
} 

body:before {
    background-image: url("c0ssette.jpg");
    content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}