body{
    background-color: white;
}
/* scan W:1440px H:900px */
*{
    margin: 0;
    padding: 0%;
    
}


@font-face {
    font-family: Playfair;
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/playfair/v2/0nkQC9D7PO4KhmUJ5_zTZ_4MYQXznAK-TUcZXKO3UMnW6VNpe4-SiiZ4b8h5G3GutPkUeugeqyIA5g.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
.Menu{
    
    padding: 14px 16px;
    width: 1440px;
    position: fixed;
    background-color: white;
    display: flex;
    
    /* z-index: -1; */
}

a{
    text-decoration: none;
}

/* bc this;-; */
.logo_hyper_home_page{
   
    padding: 1ch;
    border: 10cm;
    border-radius: 49%;
    font-family: 'Playfair Display'serif;
    color: white;
    background-color: black;
}

.line{
    display: inline-block;
    
}
.space{
    padding-left: 5ch;
}
.space_right{
    padding-left: 65ch;
    display: flex;
}
.space_between{
    padding-left: 5ch;
}

.shape{
    
    border-radius: 30%;
    
}
.black{
    color: white;
}
.white{
    color: black;
   
}
#ss{
    width: 7cm;
    margin-right: 0.2ch;
}
.Logo_size{
    
    width: 20px ;
    height: 20px;
    float: right;
}

.btn{
    
    width: 20px;
    height: 20px;
    border-style: none;
    font-weight: bold;
    outline: none;
    border-radius: 50%;
    
    background-color:rgb(239, 153, 41);
}
.btn:hover{
    background-color:rgba(230, 162, 95, 0.783);
}
.bottom_footer{
    width: 1400px;
    padding: 14px 16px;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
/* here */
.img_home_size_1{
    width: 1440px;
    height: 650px;
    gap: 0px;
    display: flex;
}

.overlay_pic{
    width: 1400;
    height: 650px;
    display: flex;
}
.overlay_text {
    position: relative;
    right: 550px;
    Top: 90px;
    color: rgb(248, 248, 248); 
    padding: 10px 20px; 
    font-size: 85px; 
    text-align: center;
  }


.btn_new_collection{
    width: 1408.05px;
    padding: 14px 16px;
    display: flex;
    justify-content: center;
    background-color: black;
}
.img_home_size_2{
    width: 397.21;
    height: 340px;  
}

.img_home_size_3{
    width: 320px;
    height:290x;  
}

.box{
    width: 1400px;
    display: flex;
    justify-content: space-around;
}
.textbox{
    font-size: 16px;
    width: 350px;
    height: 200px;
    background-color: #BDE3FF;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    
}

.spare_picture{
    width: 1400px;
    display: flex;
    justify-content: space-around;
}

.btn_seemore{
    padding: 12px 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    border: 0;
    border-radius: 5px;
}
.btn_buy{
    padding: 12px 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    border: 0;
    border-radius: 5px;
}

.container {
    position: relative;
    display: inline-block;
}


