body{
    background-color: white;
}
.container{
    padding: 2;
    /* margin: auto; */
    width: 1400px;
}
.slide{
    max-width: 30rem;
    margin: auto;
    
}
.picture{
    display: flex;
}
.picture img{
    width: 320px;
    height: 420px;
    flex: 1 0 100%;
}

.box_product{
    padding: 8px 12px;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}

div .box_product_2{
    width: 6rem;
    padding: 8px 12px;
    font-size: large;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    
    margin-bottom: auto;
    margin-left: 63%;
}

.size{
    display: flex;
    justify-content: space-evenly;
    
    width: 40rem;
}
.size:active{
    border-color: red;
}

.same_line{
    display: flex;
    align-items: center;
    font-size: 1rem;
}
select{
    margin-left: 10px;
    font-size: 1.5rem;
    height: fit-content;
}

