h1{
    font-size: 5rem;
    display: flex;
    justify-content: center;
}
.div_center{
    width: 80%;
    height: auto;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 2rem;
}
.container{
    width: 100%;
}
.box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    height: fit-content;
}
#number,#Detail{
    width: 20%;
}
#User_Data{
    width: 60%;
}
#Admin_data{
    width: 60%;
}
#number{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
#Detail{
    font-size: 1rem;
    padding: 1rem 2rem;
    height: 100%;
    margin: 1rem;
    cursor: pointer;
}
.Num{
    width: 20%;
    display: flex;
    justify-content: center;
}
.inform{
    width: 60%;
    display: flex;
    justify-content: center;
}
.Edit{
    width: 20%;
    display: flex;
    justify-content: center;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid;
    height: fit-content;
    font-size: 2rem;
}
#Add{
    color: black;
    right:-1083px;
    position: relative;
}
.color_it{
    color: rgb(63, 61, 61);
}